@use './palette.scss' as *;

@font-face {
    font-family: ZhiMangXing;
    src: url(../fonts/ZhiMangXing-Regular.ttf);
}

@font-face {
    font-family: Cinzel;
    src: url(../fonts/Cinzel-VariableFont_wght.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: Raleway Italic;
    src: url(../fonts/Raleway-Italic-VariableFont_wght.ttf);
}

::-webkit-scrollbar {
    width: 10px;
    display: none;
}

:root {
    --size: 105%;
}

html {
    font-size: var(--size);
    overflow-x: hidden;
    white-space: nowrap;
}

body {
    background-color: $background;
    user-select: none;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

h1 {
    font-family: 'ZhiMangXing';
    font-size: 10rem;
    margin: 0;
    color: $base4;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cinzel';
}

h3 {
    font-size: 3.3rem;
    font-weight: 800;
    color: $default;
}

h4 {
    font-size: 1.7rem;
    font-weight: 500;
    color: $default;
}

p {
    font-family: 'Raleway';
    font-weight: 200;
    color: $default;
}

.main {
    width: 100vw;
    height: 100vh;
    position: sticky;
    top: 0;
    margin: 0;

    .title {
        writing-mode: vertical-lr;
        text-orientation: upright;
        height: fit-content;
        width: 12rem;
    }

    .container {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: row;
        justify-content: center;

        div {
            margin-top: auto;
            margin-bottom: auto;
        }
    }

    .spacer {
        width: 12rem
    }

    .content {
        padding: 2rem;
        width: max-content;

        h3 {
            color: $base3;
            margin: 0;
            letter-spacing: 1rem;

            @if($dark-theme) {
                color: $base4;
            }
        }

        h4 {
            color: lighten($base3, 20%);
            margin: 0;
        }

        div {
            display: flex;
        }

        .short-arrow {
            position: absolute;
            right: 5.5rem;
            bottom: -.1rem;
            height: 2rem;
            transform: rotate(180deg);
            opacity: 0;
            z-index: 1;
            margin-bottom: .05rem;
        }

        .short-arrow-rev {
            position: absolute;
            left: 5.5rem;
            bottom: -.1rem;
            height: 2rem;
            opacity: 0;
            z-index: 1;
        }

        button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            height: 2rem;
            width: 6rem;
            margin: 1rem;
            color: $base4;
            background-color: $background;
            border: .1rem solid $base4;
            border-radius: .2rem;
            transition: 300ms;
            outline: none;
        }

        p {
            font-family: 'Gideon Roman';
            font-size: 1rem;
            font-weight: 500;
            margin: 0;
            margin-top: auto;
            margin-bottom: auto;
        }

        button:hover,
        button:focus {
            cursor: pointer;
            transform: scale(1.08);
            border-color: $gold-stage2;
            border-width: .15rem;
            border-left: none;
            border-right: none;
            text-decoration: underline;

            .short-arrow,
            .short-arrow-rev {
                opacity: 1;
                fill: $gold-stage3;
            }
        }

        .enter {
            margin-left: auto;
        }

        .create {
            margin-right: auto;
        }
    }
}

.scroll-indicator-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: .75rem;
    margin-bottom: 4rem;
    margin-left: auto;

    .scroll-indicator-wrapper {
        width: fit-content;
        height: 8rem;
        border-radius: .2rem;
        display: flex;
        flex-direction: row;

        .scroll-indicator-background {
            width: .2rem;
            border-radius: .2rem;
            background-color: $base2;
            margin-left: -.2rem;
        }

        .scroll-indicator {
            width: fit-content;
            display: flex;
            flex-direction: row;
            z-index: 1;

            p {
                font-family: 'Cinzel';
                margin-top: auto;
                font-size: .8rem;
                font-weight: 500;
                margin-right: .5rem;
                transition: color 500ms;
                color: $base1;
            }

            div {
                width: .2rem;
                border-radius: .2rem;
                background-color: $base1;
                transition: background-color 500ms;
            }
        }
    }
}

p#scroll-indicator-credit {
    color: $base3;
}

div#scroll-indicator-credit {
    background-color: $base3;
}

@if ($dark-theme) {
    p#scroll-indicator-credit {
        color: $base4;
    }

    div#scroll-indicator-credit {
        background-color: $base4;
    }
}

.profile {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: fit-content;
    height: fit-content;
    min-width: 0;
    min-height: 0;
    margin: 2rem;
    transition: 500ms;
    transition-delay: 150ms;
    border-radius: .2rem;
    padding: 0;
    flex-direction: row;

    .header {
        all: unset;
        width: fit-content;
        min-width: 0rem;
        height: fit-content;
        display: flex;
        float: right;
        background-color: transparent;
        padding: .4rem .8rem;
        border-radius: .2rem;
        transition: 550ms;
        background-color: lighten($background, 8%);
    }

    .header:hover,
    .header:focus {
        transform: scale(1.01);
        cursor: pointer;
    }

    h3 {
        transition: 500ms;
        font-weight: 700;
        margin-top: auto;
        margin-bottom: .1rem;
        margin-right: 1rem;
        text-align: right;
        font-size: 1rem;
        white-space: nowrap;
    }

    img {
        transition: 500ms;
        min-width: 20px;
        width: 2rem;
        min-height: 20px;
        height: 2rem;
        padding: .3rem;
        border-radius: .2rem;
        background-color: $base1;
    }

    .content {
        margin: auto;
        opacity: 0;
        transition: 50ms;
        transition-delay: 0ms;

        div {
            flex-grow: 1;
            padding: .5rem;
            display: flex;
            flex-direction: column;
        }

        .element {
            margin: .5rem;
            border-radius: .2rem;
            transition: all 400ms, background-color 200ms;
            padding: .8rem 1rem;
            contain: paint;
        }

        .element::before {
            content: '';
            position: absolute;
            background-color: lighten($background, 4%);
            inset: 0;
            z-index: -1;
            transition: 300ms;
        }

        .element:hover::before {
            cursor: pointer;
            background-color: lighten($base2, 40%);

            @if($dark-theme) {
                background-color: darken($base2, 10%);
            }

            transform: scale(1.05);
        }

        .element:hover .short-arrow {
            opacity: 1;
            right: .6rem;
        }

        .account {
            pointer-events: none;
        }

        h3 {
            position: relative;
            font-size: 1rem;
            font-family: 'Cinzel';
            margin-bottom: .2rem;
            display: flex;
            flex-direction: row;
            transform-origin: left;
            transition: 300ms;
        }

        h4 {
            font-family: 'Raleway';
            margin: .1rem;
            margin-top: auto;
            font-size: 1rem;
            font-weight: 600;
            transition: 300ms;
        }

        p {
            margin: .1rem;
            font-size: .7rem;
            font-weight: 400;
            transform-origin: left;
            transition: 300ms;
        }

        .center h3 {
            line-height: 1rem;
            margin: 0;
        }

        .stats {
            flex-direction: row;
            pointer-events: none;
            padding: 0;

            h4,
            p {
                text-align: center;
            }

            div {
                display: flex;
                flex: 1;
                background-color: lighten($background, 4%);
                margin-left: .2rem;
                margin-right: .2rem;
                border-radius: .2rem;
                ;
            }

            div:first-child {
                margin-left: 0;
            }

            div:last-child {
                margin-right: 0;
            }
        }

        .stats::before {
            content: none;
        }

        .account {

            .heading {
                display: flex;
                flex-direction: row;
            }

            button {
                all: unset;
                transition: 200ms;
                pointer-events: all;

                svg {
                    position: absolute;
                    top: 1rem;
                    right: 1rem;
                    height: 2rem;
                    aspect-ratio: 1;
                    fill: $default;
                    transition: 200ms;
                }
            }

            button:hover svg {
                transform: scale(1.2);
                fill: $accent;
            }

            p {
                text-align: left;
            }


        }

        .visuals {
            .zoom div {
                padding: 0;
                display: flex;
                flex-direction: row;

                button {
                    all: unset;
                    font-family: "Raleway";
                    font-size: .75rem;
                    margin-left: auto;
                    transition: 200ms;
                    color: $default;
                }

                button:hover,
                button:focus {
                    cursor: pointer;
                    color: $accent;
                    font-weight: 600;
                }
            }

            input {
                all: unset;
                width: auto;
                height: .5rem;
                border-radius: .25rem;
                background-color: $base1;
                outline: none;
                border: none;
                opacity: .6;
                transition: 200ms;
                margin-top: .4rem;
                margin-bottom: .4rem;
            }

            input:hover,
            input:focus {
                cursor: pointer;
                opacity: 1;
            }

            input::-webkit-slider-thumb {
                appearance: none;
                aspect-ratio: 1;
                width: .8rem;
                border-radius: 50%;
                background: $base4;
                cursor: pointer;
            }

            input::-moz-range-thumb {
                appearance: none;
                aspect-ratio: 1;
                width: .8rem;
                border-radius: 50%;
                background: $base4;
                cursor: pointer;
            }

            p {
                font-weight: 700;
            }

            .theme {
                display: flex;
                flex-direction: row;

                //switch variables
                $width: 2.5rem;
                $height: 1.25rem;
                $margin: .1rem;

                label {
                    margin-left: auto;
                    height: $height;
                    width: $width;
                    border-radius: calc($height/2);
                    contain: paint;
                    transition: 200ms;
                }

                label:hover,
                label:focus {
                    cursor: pointer;
                    transform: scale(1.05);
                }

                span {
                    position: absolute;
                    inset: 0;
                    background-color: #fff;
                    transition: 200ms;
                    padding: 0;
                }

                span::before {
                    content: '';
                    position: absolute;
                    aspect-ratio: 1;
                    height: calc($height - ($margin * 2));
                    border-radius: 50%;
                    left: $margin;
                    top: $margin;
                    background-color: #000;
                    transition: 200ms;
                }

                input:checked+span {
                    background-color: #000;
                }

                input:checked+span::before {
                    left: calc($width - ($height - ($margin * 2)) - $margin);
                    background-color: #fff;
                }
            }

            .language {
                display: flex;
                flex-direction: row;

                select {
                    width: 10rem;
                    height: 1.2rem;
                    margin-left: auto;
                    font-size: .8rem;
                    font-family: "Raleway";
                    border: none;
                    border-radius: .2rem;
                    transition: 300ms;

                    option {
                        border-radius: .1rem;
                    }

                    option:hover {
                        background-color: $base1;
                    }
                }
            }
        }

        .joined {
            font-size: .8rem;
        }

        .short-arrow {
            fill: $base4;
            opacity: 0;
            height: 1.8rem;
            position: absolute;
            right: 3rem;
            top: 50%;
            transform: translateY(-50%) rotate(180deg);
            transition: 500ms;
        }

        .friends {
            height: fit-content;
            overflow: hidden;
            padding-left: 0;

            h3 {
                margin-left: 1rem;
            }

            button {
                all: unset;
                font-family: 'Raleway';
                font-size: .8rem;
                color: $default;
            }

            .heading {
                display: flex;
                flex-direction: row;

                button {
                    all: unset;
                }

                .plus {
                    position: absolute;
                    top: 1rem;
                    right: 1rem;
                    fill: $default;
                    height: 1.6rem;
                    aspect-ratio: 1;
                    transition: 200ms;
                }

                button:hover svg {
                    transform: scale(1.2);
                    fill: $accent;
                }
            }

            .dropdown {
                display: flex;
                flex-direction: row;
                transform-origin: left;
                transition: 100ms;

                svg {
                    fill: $default;
                    transform: rotate(180deg);
                    height: 1rem;
                    margin-right: .6rem;
                }
            }

            .dropdown:hover,
            .dropdown:focus {
                cursor: pointer;

                svg {
                    color: $accent;
                }

                button {
                    color: $accent;
                }
            }

            .dropdown.show {
                color: $accent;

                svg {
                    transform: rotate(270deg);
                }
            }

            .friends-content {
                max-height: 0rem;
                overflow-y: hidden;
                transition: 400ms;

                p {
                    margin: .2rem;
                    height: fit-content
                }
            }

            .friends-content.show {
                height: fit-content;
                max-height: 10rem;
                padding: .2rem;
                border-radius: .2rem;
                overflow-y: auto;
            }

            .friends-content.show::-webkit-scrollbar {
                display: block;
                position: absolute;
                right: 0;
                top: 0;
                width: .4rem;
            }

            .friends-content.show::-webkit-scrollbar-track {
                //!edit for dark mode
                background-color: #888;
                border-radius: .2rem;
            }

            .friends-content.show::-webkit-scrollbar-thumb {
                //!edit for dark mode
                background-color: #ddd;
                width: .4rem;
                border-radius: .2rem;
            }

            .friends-content.show::-webkit-scrollbar-thumb:hover {
                background-color: #fff;
            }


            .expand {
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                transition: 200ms;
                font-size: .65rem;
                opacity: .7;
                margin-left: auto;
                margin-right: auto;
            }

            .expand:hover,
            .expand:focus {
                opacity: 1;
                text-decoration: underline;
            }

            #online,
            #offline {
                margin: 0;
                padding: 0;
                margin-left: 1rem;
            }
        }

        .signout {
            padding: .2rem;

            h3 {
                padding: .2rem;
                margin: auto;
            }
        }

        .signout:hover::before,
        .signout:focus::before {
            color: $default;
            background-color: lighten(#ff4a54, 10%);

            @if ($dark-theme) {
                background-color: darken(#ff4a54, 5%);
            }

            filter: saturate(.8);
            cursor: pointer;
        }
    }

    .content>div {
        opacity: inherit;
    }
}

.x {
    all: unset;
    aspect-ratio: 1;
    height: 1.5rem;
    position: absolute;
    right: 0;
    float: right;
    margin: .5rem;
    transition: 400ms;

    .cls-1 {
        fill: $base4;
    }
}

.x:hover {
    transform: scale(1.1);
    cursor: pointer;

    .cls-1 {
        fill: lighten($base4, 20%);
    }
}

.profile.active {
    min-width: 20rem;
    min-height: fit-content;
    background-color: darken($background, 8%);
    box-shadow: .1rem .2rem .2rem #00000044;

    .header {
        flex-direction: column-reverse;
        justify-content: center;
        min-width: 20rem;
        background-color: lighten($background, 8%);
        border-radius: .2rem .2rem 0 0;
        margin-bottom: .5rem;

        img,
        h3 {
            margin: .2rem;
            margin-right: auto;
            margin-left: auto;
        }

        h3 {
            font-size: 1.2rem;
        }
    }

    .content {
        $content-transition-delay: 88ms;

        div:nth-child(1) {
            transition-delay: 1 * $content-transition-delay ;
        }

        div:nth-child(2) {
            transition-delay: 2 * $content-transition-delay;
        }

        div:nth-child(3) {
            transition-delay: 3 * $content-transition-delay;
        }

        div:nth-child(4) {
            transition-delay: 4 * $content-transition-delay;
        }

        div:nth-child(5) {
            transition-delay: 5 * $content-transition-delay;
        }

        div:nth-child(6) {
            transition-delay: 6 * $content-transition-delay;
        }
    }
}

.logo {
    height: 2rem;
    aspect-ratio: 1;
    background: #9e1e1e;
    background-size: 200% 200%;
    border-radius: .2rem;
    padding: .2rem;
    margin-top: 25rem;
    margin-right: -.5rem;

    .cls-1 {
        fill: $background;
    }
}

// @keyframes grad-flow {
//     0% {
//         background-position: 0% 20%;
//     }

//     50% {
//         background-position: 20% 70%;
//     }

//     100% {
//         background-position: 0% 20%;
//     }
// }

.footer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: calc(50vh + 3rem);
    background-color: $base3;
    margin: 0;

    .content {
        position: relative;
        display: flex;
        flex-direction: row;
        margin: auto;
        margin-top: auto;
        margin-bottom: auto;
    }

    .spacer {
        background-color: $background;
        height: 50vh;
        width: 100vw;
    }

    p {
        margin: auto;
        margin-bottom: .21rem;
        margin-left: 1rem;
        margin-right: .2rem;
        font-size: .8rem;
        line-height: .9rem;
        white-space: nowrap;
        color: #fff;
    }

    .LSX-Studio-logo {
        margin: 0;
        height: 1.6rem;
        fill: #fff;
        transition: 300ms;
    }

    span {
        display: flex;
        flex-direction: row;

        p {
            color: #fff;
            margin-left: .1rem;
            transition: 300ms;
        }
    }

    span:hover,
    span:focus {
        cursor: pointer;
        transform: scale(1.03);

        svg {
            fill: $base1;
        }

        p {
            color: $base1;
        }
    }
}