$gold-stage1: #F0D750;
$gold-stage2: #E7CD3B;
$gold-stage3: #D9AD15;
$gold-stage4: #FCE186;

$silver-stage1: #D7D8D8;
$silver-stage2: #B1B1B1;
$silver-stage3: #E7E7E7;
$silver-stage4: #B9B9B9;

$background: #D2E5CB;
$base1: #66C18C;
$base2: #327D52;
$base3: #104239;
$base4: #0D140F;

$accent: #0da100;
$accent2: #38938D;
$alert: #ff4a54;
$default: #000;
$default-reverse: #fff;

$dark-base1: #66C18C;
$dark-base2: #1D5133;
$dark-base3: #104239;
$dark-base4: #D2E5CB;
$dark-background: #0D140F;

$dark-theme: false;